<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>


</head>
<body>
<!--get_materials-->
    <div th:each="material : ${materialList}">
        <h2 th:text="${material.name}"></h2>
    </div>

<!--get_material_by_name-->
<!--    <div>-->
<!--        <h2 th:text="${material.name}"></h2>-->
<!--    </div>-->

<!--<div th:switch="${status}">-->
<!--    <div th:case="empty">-->
<!--        <h2>Empty</h2>-->
<!--    </div>-->
<!--    <div th:case="packed">-->
<!--        <div>-->
<!--            <h2 th:text="${material.name}"></h2>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:case="*">-->
<!--        <h2>Unknown error</h2>-->
<!--    </div>-->
<!--</div>-->
<button onclick="showMyFunction()">Click</button>
<button onclick="showMyFunction1()">Click1</button>
<button onclick="hello()">Click</button>
</body>
</html>
<script type="text/javascript" src="assets/new.js"></script>
<script>
    function showMyFunction() {
        alert("Hello");
    }
//    http://localhost:8080/material/getMaterialslikeName?name=1
</script>